@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);

  --success: var(--success-500);
  --success-foreground: oklch(0.985 0 0);
  --success-50: oklch(0.9794 0.0215 172.00);
  --success-100: oklch(0.9487 0.0556 168.00);
  --success-200: oklch(0.8989 0.0975 165.00);
  --success-300: oklch(0.8391 0.1403 162.00);
  --success-400: oklch(0.7659 0.1683 160.00);
  --success-500: oklch(0.6804 0.1652 158.00);
  --success-600: oklch(0.5807 0.1419 157.00);
  --success-700: oklch(0.4971 0.1167 157.00);
  --success-800: oklch(0.4285 0.0971 157.50);
  --success-900: oklch(0.364 0.0823 158.00);
  --success-950: oklch(0.2595 0.0544 160.00);

  --error: var(--error-600);
  --error-foreground: oklch(0.985 0 0);
  --error-50: oklch(0.9678 0.0142 17.4);
  --error-100: oklch(0.9344 0.0314 17.73);
  --error-200: oklch(0.8803 0.0615 18.39);
  --error-300: oklch(0.8098 0.1025 19.54);
  --error-400: oklch(0.7 0.21 24.33);
  --error-500: oklch(0.62 0.2082 25.38);
  --error-600: oklch(0.5786 0.2137 27.17);
  --error-700: oklch(0.5079 0.1918 27.56);
  --error-800: oklch(0.441 0.1603 26.89);
  --error-900: oklch(0.3996 0.1348 25.77);
  --error-950: oklch(0.2 0.07 26.25);

  --warning: var(--warning-500);
  --warning-foreground: oklch(0.985 0 0);
  --warning-50: oklch(0.9846 0.0208 91.58);
  --warning-100: oklch(0.9551 0.054861 89.0148);
  --warning-200: oklch(0.9117 0.1091 90.15);
  --warning-300: oklch(0.8618 0.1489 85.04);
  --warning-400: oklch(0.8102 0.1636 75.71);
  --warning-500: oklch(0.7464 0.1707 61.8);
  --warning-600: oklch(0.6478 0.1686 50.59);
  --warning-700: oklch(0.5411 0.1575 42.93);
  --warning-800: oklch(0.4554 0.1344 40);
  --warning-900: oklch(0.3968 0.1127 39.76);
  --warning-950: oklch(0.2714 0.0797 40.92);

  --primary: var(--primary-600);
  --primary-foreground: oklch(0.985 0 0);
  --primary-50: oklch(0.9751 0.0139 264.05);
  --primary-100: oklch(0.9408 0.0324 264.66);
  --primary-200: oklch(0.9038 0.0546 265.75);
  --primary-300: oklch(0.8204 0.1043 267.35);
  --primary-400: oklch(0.717 0.162918 270.32);
  --primary-500: oklch(0.67 0.222 272.18);
  --primary-600: oklch(0.5424 0.2454 274.08);
  --primary-700: oklch(0.4834 0.2422 275.45);
  --primary-800: oklch(0.4273 0.2093 274.85);
  --primary-900: oklch(0.3771 0.1778 273.71);
  --primary-950: oklch(0.2844 0.1359 273.98);

  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-success-50: var(--success-50);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);
  --color-success-700: var(--success-700);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);
  --color-success-950: var(--success-950);

  /* Warning Colours */
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-50: var(--warning-50);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-warning-400: var(--warning-400);
  --color-warning-500: var(--warning-500);
  --color-warning-600: var(--warning-600);
  --color-warning-700: var(--warning-700);
  --color-warning-800: var(--warning-800);
  --color-warning-900: var(--warning-900);
  --color-warning-950: var(--warning-950);

  /* Error Colours */
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  --color-error-50: var(--error-50);
  --color-error-100: var(--error-100);
  --color-error-200: var(--error-200);
  --color-error-300: var(--error-300);
  --color-error-400: var(--error-400);
  --color-error-500: var(--error-500);
  --color-error-600: var(--error-600);
  --color-error-700: var(--error-700);
  --color-error-800: var(--error-800);
  --color-error-900: var(--error-900);
  --color-error-950: var(--error-950);

  /* Primary Colours */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
